<!DOCTYPE html>
<html>
<head>
    @*<title>@ViewBag.Title</title>*@
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1>Welcome to my first site</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy;@DateTime.Today.Year
    </footer>
</body>
</html>